.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.badge-secondary {
  background-color: #9a9a9a;
}

.hover-active:hover {
  background-color:rgb(209, 242, 255);
}

.hover-active.active:hover {
  background-color: #007bff;
}

.list-group-item.active.subactive {
  background-color: #007bff83;
}

.cursor-pointer {
  cursor: pointer;
}